<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
				<add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="text/xml" />
			<remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="text/plain" />
			<remove fileExtension=".geojson" />
            <mimeMap fileExtension=".geojson" mimeType="text/plain" />
			<remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <!--<clientCache cacheControlMode="DisableCache" />-->
        </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
